.header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
  background-color: white;
}
.logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  cursor: pointer;
}
.topHead {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  height: 35px;
  font-size: 12px;
}
.topHead nav {
  padding: 5px;
}
.topHead nav:hover {
  color: var(--hover);
  cursor: pointer;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 10px;
}
.headerSearch {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #666;
  cursor: pointer;
}

.searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 5px;
}
.searchIcon {
  padding: 3px;
  height: 22px !important;
  color: var(--defaultColour);
}
.headerNav {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.headerNav:hover {
  color: var(--hover);
}
.sideIcon {
  padding: 5px;
  height: 22px !important;
  color: var(--defaultColour);
}
.sideIcon:hover {
  color: var(--hover);
}
.headerNav button {
  border: none;
  background: transparent;
  height: 22px !important;
  cursor: pointer;
}
.headerNav button:hover {
  color: var(--hover);
}
.cartNumber {
  font-size: 13px;
}
.cart {
  display: flex;
  align-items: center;
}
